@model WebMVC_0516.Models.DemoData.Student

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="studentNo" class="control-label"></label>
                <input asp-for="studentNo" class="form-control" />
                <span asp-validation-for="studentNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="studentName" class="control-label"></label>
                <input asp-for="studentName" class="form-control" />
                <span asp-validation-for="studentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gitHubLink" class="control-label"></label>
                <input asp-for="gitHubLink" class="form-control" />
                <span asp-validation-for="gitHubLink" class="text-danger"></span>
            </div>
            @*
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isDelete" /> @Html.DisplayNameFor(model => model.isDelete)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="creDateTime" class="control-label"></label>
                <input asp-for="creDateTime" class="form-control" />
                <span asp-validation-for="creDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="updateDateTime" class="control-label"></label>
                <input asp-for="updateDateTime" class="form-control" />
                <span asp-validation-for="updateDateTime" class="text-danger"></span>
            </div>
            *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
